# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db